<div class="center">
  <h1>CI/CD with Angular and GitHub Pages</h1>
  
  Sample app to demonstrate how to deploy multiple versions of the same Angular app to GitHub pages. 

  <br><br>
  
  <a href="https://torbjorv.github.io/angular-gh-pages/">Stable</a> | 
  <a href="https://torbjorv.github.io/angular-gh-pages/versions/latest/">Latest</a> | 
  <a href="https://github.com/torbjorv/angular-gh-pages/blob/gh-pages/versions/versions.md">All</a> |
  <a href="https://github.com/torbjorv/angular-gh-pages">Source</a>
  
  <br>

</div>